:root {
    --negro: #545454;
    --fucsia: #D4A2A3;
    --crema: #F4F4F4;
    --bordeaux: #a04f4f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 40px 200px 1fr 80px;
    grid-template-areas:"nav nav"
                        "header header" 
                        "aside main"
                        "footer footer";
    height: 100vh;
}


header {
    background-color: var(--crema);
    color: var(--negro);
    grid-area: header;
    background-image: url(./Logo\ Can\ Estilo.jpg);  
    background-size: 200px;
    background-repeat: no-repeat;    
    padding-top: 0px;
    margin: 0;
    display: grid;
    align-content: center;
    justify-content:center;
    gap: 30px;

}

.search {
    height: 5vh;
}

nav {
    background-color: var(--negro);
    grid-area: nav;     
    position: fixed;
    left: 0;
    right: 0;
}

ul {       
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-content: center;
    list-style: none;
    height: 40px;
}

.navegacion {
    padding: 10.75px 15px;
    font-size: 15px;
    font-weight: 500;    
    color: var(--crema);
    text-align: center;
    text-justify: auto;
    margin: auto;
    border-radius: 7px;
    
}

.navegacion:hover{
    background-color: var(--fucsia);
    color: var(--negro);
    cursor: pointer;  
}

.navegacion:active{
    color: var(--crema);
}

/* log in */

aside {
    background-color: var(--bordeaux);
    grid-area: aside;
    color: var(--crema);
}

form {
    padding: 50px 10px 10px 10px;
    display:block;
    position: sticky;
    top: 40px;
}

#logIn {
    display: grid;
}

button {
    margin: 10px 0;
    padding: 3px;
    color: var(--crema);
    background-color: var(--negro);
    border-radius: 5px;
}

/* Main */

main {
    background-color: var(--fucsia);
    grid-area: main;
    display: grid;
    list-style: none;
    color: var(--negro);
    padding: 10px;
}

/* Nosotros */

.main #nosotros2 {
    padding-bottom: 50px;
}

h2 {
    padding-top: 50px;
    padding-bottom: 10px; 
}
p {
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Accesorios */

 #acces {    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 0.5fr;
    gap: 1rem;
    padding: 1rem;
  }

.producto {
    background-color: var(--negro);
    color: var(--crema);
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    gap: 0.5rem;
  }

  .producto > img {
    width: 100%;
    align-self: center;
  }

/* Agenda */

#reservas {
    display: grid
}


/*comentarios*/

#comentarios2 {
    display: grid;
    grid-template-columns: 1fr;
}

#comentarios2 > button {
    width: 150px;
    height: 30px;

}

/*Footer*/

footer {
    background-color: var(--negro);
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}

img {
    width: 80px;    
}

.foot {
    color: white;
    padding: 30px 15px;
}


/* Responsive style */

@media (max-width: 500px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 200px 80px 1fr 80px;
        grid-template-areas: "nav"
                             "header"
                             "aside"
                             "main"
                             "footer";
        height: 100vh;
    }

    aside {
        background-color: var(--bordeaux);
        grid-area: aside;
        color: var(--crema);
        align-content: center;
        justify-content: left;

    }
        
    form {
        padding: 10px;
        position: initial;
    }
    button {
        margin: 10px 0;

    }

    header {
        background-color: var(--crema);
        color: var(--negro);
        grid-area: header;
        background-image: url(./Logo\ Can\ Estilo.jpg);  
        background-size: 200px;
        background-repeat: no-repeat;    
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-areas: "bienvenido calendario";
        align-content: center;
        justify-content:right;
        gap: 30px;
    
    }

    .navegacion {
        font-size: 10px;
        align-content: center;
        
    }

    footer {
        font-size: 11px;
    }

}